<footer class="text-center text-sm text-muted-foreground p-4">
    <p>&copy; {{ config.site.year }} Andrew Shell. All rights reserved.</p>
    <p>
        <a href="{{ config.oidc.issuerBaseUrl }}/privacy">Privacy Policy</a> • 
        <a href="{{ config.oidc.issuerBaseUrl }}/terms">Terms of Use</a> • 
        <a href="https://github.com/geekitycom/ytopml/issues">Report a Bug</a>
    </p>
</footer>